.controller {
    background: url(base.svg) !important;
}

.controller.disconnected {
    opacity: 0.5 !important;
}

.touchpad.pressed {
    background: url(touchpad.svg) no-repeat center;
}

.face {
    background: url(dpad.svg);
}

.button {
    background: url(face.svg);
}

.stick {
    background: url(sticks.svg);
}
