.controller {
    background: url(base.svg) !important;
}

.ds4 .controller .disconnected {
    opacity: 0 !important;
}

.ds4 .touchpad.pressed {
    background: url(touchpad.svg) no-repeat center;
}

.ds4 .face {
    background: url(dpad.svg);
}

.ds4 .button {
    background: url(face.svg);
}

.ds4 .stick {
    background: url(sticks.svg);
}
